* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fafafa;
  padding-top: 60px;
}
nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  line-height: 50px;
  background: white;
  padding: 0px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1001;
}
nav .logo p {
  font-size: 40px;
  font-weight: bold;
  float: left;
  color: rgb(88, 88, 196);
  text-transform: uppercase;
  letter-spacing: 1.5px;
  cursor: pointer;
}
nav ul {
  display: flex;
  list-style: none;
}

nav li {
  display: inline-block;
  list-style: none;
}

nav li a {
  font-size: 15px;
  color: black;
  padding: 15px 30px;
  text-decoration: none;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}

nav li a:hover {
  background: rgb(201, 201, 201);
  color: rgb(88, 88, 196);
  transition: all 0.25s ease;
}

#submenu {
  opacity: 0;
  position: absolute;
  top: 30px;
  visibility: hidden;
  z-index: 1000;
  display: block;
}

li:hover ul#submenu {
  opacity: 1;
  top: 55px;
  visibility: visible;
}

#submenu li {
  float: none;
  width: 100%;
}

#submenu a:hover {
  background: rgb(201, 201, 201);
}

#submenu a {
  background: white;
}

img {
  width: 100%;
}

html,
body {
  position: relative;
  height: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
  position: relative;
}

.swiper-slide video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
